@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');
:root {
    --background: rgba(0, 214, 170, .85);
  }
body{
    background-image: url("./photo/backroundimg2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-position-y: 80%;
    
 
}
.menuContainer
{
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 10vh;
    border: 3px solid grey;
    border-color: #adb1b8 #a2a6ac #8d9096;
    box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
    width: 366px;
    margin-left: 37%;
    margin-bottom: 0rem;
    margin-top: 5%;
    background-color: lightgray;
    
}
.menuContainer div
{
    border: 3px solid grey;
}
#mineCounter
{
    background-color: #0f1111;
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    
    
}
#mineCounter p
{
    margin: 20% 0px 0px 0px;
}
.reset
{
    display: flex;
    align-items: center;
    justify-content: center;
}
#resetLogo
{
 width: 40px;
 height: 40px;
 
 
}
.flagToggle
{
    display: flex;
    align-items: center;
    justify-content: center;
}
#flagOnOff
{
    width: 40px;
 height: 40px;
 display: none;
}
#board-grid
{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
max-width:fit-content;
margin-left: 37%;

border: 3px solid grey;


}
.board button
{
   border: 3px solid grey;
   border-color: #adb1b8 #a2a6ac #8d9096;
   box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
   height: 40px;
   width: 40px;
   position: relative;
   padding: 0px 0px 0px 0px;
   /* background-image: url("./photo/boomb.jpg"); */
   background-size: 35px 35px;
   background-repeat: no-repeat;
   color: #0f1111;
  
   

  
}
.board button:hover
{
    border-color: #5d5f63 #5a5c60 #82858a;
}
.board  p 
{
    width: 100%;
    height: 100%;
    font-family: "Amazon Ember",Arial,sans-serif;
    /* display: none; */
    margin: 0px 0px 0px 0px;
    /* background-image: url("./photo/boomb.jpg"); */
    font-size: 0px;
    vertical-align: middle;
   line-height: normal;

}
#flagSearch
{
    width: 50px;
    height: 50px;
    padding: 1px 1px 1px 1px    ;
    margin-top: 1rem;
    margin-left: 49.5%;
}
#flagSearch img
{
    width: 100%;
}

.flagMark {
background-image : url("./photo/flag.png");
background-size :30px;
background-repeat:no-repeat;
font-size:0px;
display:flex; 
align-items:center;


}

/* nav bar style  */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
nav{
  background: #0d0d0db3;
  padding: 10px 40px 10px 70px;
  border: 1px solid #000;
  border-left: none;
  border-right: none;
}
nav ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
nav ul li.logo{
  flex: 1;
  font-size: 30px;
  font-weight: 700;
}
nav ul div.items{
  padding: 0 25px;
  display: inline-flex;
}
nav ul div.items a{
  text-decoration: none;
  font-size: 18px;
  padding: 0 12px;
  
}
nav ul div.items li a{
  color: #f2f2f2;
}
nav ul div.items a:hover{
  color: rgb(255, 115, 0);
}
nav ul .search-icon{
  height: 40px;
  width: 240px;
  display: flex;
  background: #f2f2f2;
  border-radius: 5px;
}
nav ul .search-icon input{
  height: 100%;
  width: 200px;
  border: none;
  outline: none;
  padding: 0 10px;
  color: #000;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
}
nav ul .search-icon .icon{
  height: 100%;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #cccccc;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
nav ul .search-icon .icon:hover{
  background: #e6e6e6;
}

